@model MujZavod.Admin.Models.Race.RaceDetailModel

@{

    ViewBag.Title = "Detail závodu - " + Model.RaceViewModel.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderButtons{
    
}


<div id="raceHead">
    @Html.Partial("Head", Model.RaceViewModel)
</div>



<div id="raceCategories">
    @Html.Partial("Category/Categories", Model.RaceCategoriesViewModel)
</div>


@section head {

<script>
        var MujZavod = MujZavod || {};
        MujZavod.PublishRace = function () {
            bootbox.confirm({
                message: 'Přejete si zveřejnit závod?',
                className: 'bootbox-xs',

                callback: function (result) {
                    if (result) {
                        $.get('@Url.Action("Publish", "Race", new { RaceId = Model.RaceViewModel.Id })', function (data) {
                            if (data == "OK") {
                                $('#raceHead').load('@Url.Action("Head", "Race", new { id = Model.RaceViewModel.Id })');

                            }
                        })
                    }
                },
            });
        }

        MujZavod.EndRace = function () {
            bootbox.confirm({
                message: 'Přejete si zveřejnit výsledky závodu?',
                className: 'bootbox-xs',

                callback: function (result) {
                    if (result) {
                        $.get('@Url.Action("EndRace", "Race", new { RaceId = Model.RaceViewModel.Id })', function (data) {
                            if (data == "OK") {
                                $('#raceHead').load('@Url.Action("Head", "Race", new { id = Model.RaceViewModel.Id })');

                            }
                        })
                    }
                },
            });
        }
</script>

}