@model MujZavod.Admin.Models.Race.RaceCategory.RaceCategoriesViewModel



<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            Kategorie závodu
            <ul class="nav nav-tabs tab-resize-nav nav-xs" id="tab-resize-tabs">
                @foreach (var category in Model.RaceCategories)
                {
                    <li class="@(category.Id == Model.RaceCategories[0].Id ? "active" : "")"><a data-toggle="tab" href="#category-tab-@(category.Id)">@category.Name</a></li>
                    
                }
                @*<li><a class="pull-right btn btn-info" onclick="createRaceCategory();">Vytvořit</a></li>*@
                <li>@Html.MzButton("Vytvořit kategorii", MzButton.MzButtonType.ADD, new { onclick= "createRaceCategory();" }, "btn-sm")</li>
            </ul>
            
        </div>
    </div>

    



        

        <div id="divRaceCategoryContent" class="tab-content">
            @foreach(var category in Model.RaceCategories)
            {
                <div class="tab-pane @(category.Id == Model.RaceCategories[0].Id ? "active" : "")" id="category-tab-@(category.Id)">
                    @Html.Partial("/Views/Race/Category/Detail.cshtml", category)
                </div>
            }
        </div>

    
</div>

<script>
    function createRaceCategory() {
        new MujZavod.Modal().loadFromUrl('@Url.Action("CategoryEdit","Race", new { RaceId = Model.RaceId })', function (modal) { location.reload(); });
    }

    $('#tab-resize-tabs').pxTabResize();
</script>
