@model MujZavod.Admin.Models.Race.RaceCategory.RaceCategoryViewModel

<div class="panel panel-transparent">
    
    <div class="panel-title">
        @Model.Name - @Model.Start.ToDateTime()
        <a class="pull-right btn btn-info" onclick="new MujZavod.Modal().loadFromUrl('@Url.Action("CategoryEdit","Race", new { Id = Model.Id, RaceId = Model.RaceId })', function (modal) { location.reload(); });">Upravit</a>
        <a class="pull-right btn btn-info" onclick="new MujZavod.Modal().loadFromUrl('@Url.Action("CategoryRoundEdit","Race", new { RaceCategoryId = Model.Id })', function (modal) { location.reload(); });">Přidat kolo</a>

    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(x => x.Description)
                    @Html.Raw(Model.Description)
                </div>
                <div class="col-md-6">
                    @Html.MzGrid(Model.RoundGridViewModel)
                </div>
            </div>
            <div class="row m-t-3">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-heading">
                            Podkategorie
                            <ul class="nav nav-tabs tab-resize-nav nav-xs" id="tab-resize-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#subcategory-tab-@(Model.Id)">Nezařazeno</a>
                                </li>
                                @foreach (var subCategory in Model.SubCategories)
                                {
                                    <li>
                                        <a data-toggle="tab" href="#subcategory-tab-@(subCategory.RaceCategoryId)-@(subCategory.Id)">@subCategory.Name</a>
                                    </li>
                                }
                                <li><a class="pull-right btn btn-info" onclick="new MujZavod.Modal().loadFromUrl('@Url.Action("SubCategoryEdit","Race", new {  RaceCategoryId = Model.Id })', function (modal) { location.reload(); });">Vytvořit</a></li>
                            </ul>
                            
                        </div>
                        <div class=" tab-content">
                            <div class="tab-pane active" id="subcategory-tab-@(Model.Id)">
                                @Html.MzGrid(new MujZavod.Admin.Models.Race.RaceCategory.RaceRunners.RaceRunnersGridViewModel(Model.Id.Value, null))
                            </div>
                            @foreach(var subCategory in Model.SubCategories)
                            {
                                <div class="tab-pane" id="subcategory-tab-@(subCategory.RaceCategoryId)-@(subCategory.Id)">
                                    
                                    @Html.MzGrid(subCategory.RaceRunnersGridViewModel)
                                    
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>