@model MujZavod.Admin.Models.Race.RaceCategory.RaceCategoryViewModel

<div class="panel panel-transparent">
    
    
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Informace
                                @Html.MzButton("Upravit", MzButton.MzButtonType.EDIT,
                                 new { onclick = "new MujZavod.Modal().loadFromUrl('" + Url.Action("CategoryEdit", "Race", new { Id = Model.Id, RaceId = Model.RaceId }) + "', function (modal) { location.reload(); });" },
                                 "pull-right")
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.LabelValueRowFor(x => x.Name, 4, 8)
                                </div>
                                <div class="col-sm-6">
                                    @Html.LabelValueRowFor(x => x.Start, 4, 8)
                                </div>
                            </div>
                            @Html.LabelFor(x => x.Description)
                            @Html.Raw(Model.Description)
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    @Html.MzGrid(Model.RoundGridViewModel)
                </div>
            </div>
            @*
            <div class="row m-t-3">

                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-heading">
                            Podkategorie
                            <ul class="nav nav-tabs tab-resize-nav nav-xs" id="tab-resize-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#subcategory-tab-@(Model.Id)">Nezařazeno</a>
                                </li>
                                @foreach (var subCategory in Model.SubCategories)
                                {
                                    <li>
                                        <a data-toggle="tab" href="#subcategory-tab-@(subCategory.RaceCategoryId)-@(subCategory.Id)">@subCategory.Name</a>
                                    </li>
                                }

                                <li>@Html.MzButton("Vytvořit", MzButton.MzButtonType.ADD, new { onclick= "new MujZavod.Modal().loadFromUrl('"+Url.Action("SubCategoryEdit","Race", new {  RaceCategoryId = Model.Id })+"', function (modal) { location.reload(); });" }, "btn-sm")</li>
                            </ul>

                        </div>
                        <div class=" tab-content">
                            <div class="tab-pane active" id="subcategory-tab-@(Model.Id)">
                                @Html.MzGrid(new MujZavod.Admin.Models.Race.RaceCategory.RaceRunners.RaceRunnersGridViewModel(Model.Id.Value, null))
                            </div>
                            @foreach(var subCategory in Model.SubCategories)
                            {
                                <div class="tab-pane" id="subcategory-tab-@(subCategory.RaceCategoryId)-@(subCategory.Id)">

                                    @Html.MzGrid(subCategory.RaceRunnersGridViewModel)

                                </div>
                            }

                        </div>
                    </div>
                </div>



            </div>
            *@
            <div class="m-t-3">
                @Html.MzGrid(Model.SubCategoryGridViewModel)
            </div>
            <div class="m-t-3">
                @Html.MzGrid(Model.RaceRunnersGridViewModel)
            </div>
        </div>
        
    </div>
</div>