@model MujZavod.Admin.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Zadání hesla";
    Layout = "/Views/Shared/_LayoutPresentation.cshtml";
}


<div class="panel-body">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "panel p-a-4", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="mar-ver pad-btm">
            <h3 class="h4 mar-no">@ViewBag.Title</h3>
            <p class="text-muted">Zadejte nové heslo ke svému účtu</p>
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group  form-group-lg">
            
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Uživatelské jméno" })
            
        </div>
        <div class="form-group  form-group-lg">
            
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Heslo" })
            
        </div>
        <div class="form-group  form-group-lg">
            
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Potvrzení hesla" })
            
        </div>
       
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Změnit" />
            
    }
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
