<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.title</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Core stylesheets -->
    <link href="/content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/content/css/pixeladmin.min.css" rel="stylesheet" type="text/css">
    <link href="/content/css/widgets.min.css" rel="stylesheet" type="text/css">
    <!-- Theme -->
    <link href="/content/css/themes/clean.min.css" rel="stylesheet" type="text/css">
    <!-- Pace.js -->
    <script src="/scripts/pace/pace.min.js"></script>
    @RenderSection("head", required: false)



    <!-- ==============================================================================
    |
    |  SCRIPTS
    |
    =============================================================================== -->
    <!-- Load jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Core scripts -->
    <script src="/scripts/js/bootstrap.min.js"></script>
    <script src="/scripts/js/pixeladmin.min.js"></script>
    <script src="/scripts/js/jquery.blockUI.js"></script>
    <!-- Your scripts -->
    <script src="/scripts/js/app.js"></script>







    @Scripts.Render("~/Scripts/MujZavod/js")


    @RenderSection("scripts", required: false)

    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>

</head>
<body>
    @*
    <!-- Nav -->
    <nav class="px-nav px-nav-left">
        <button type="button" class="px-nav-toggle" data-toggle="px-nav">
            <span class="px-nav-toggle-arrow"></span>
            <span class="navbar-toggle-icon"></span>
            <span class="px-nav-toggle-label font-size-11">Sbalit menu</span>
        </button>
        <ul class="px-nav-content">
            <li class="px-nav-item active">
                <a href="@Url.Action("Index","Race")"><i class="px-nav-icon ion-home"></i><span class="px-nav-label">Seznam závodů</span></a>
            </li>

        </ul>
    </nav>
    *@
    <!-- Navbar -->
    <nav class="navbar px-navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">MujZavod</a>
            </div>
       

      
           
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#px-navbar-collapse" aria-expanded="false"><i class="navbar-toggle-icon"></i></button>
            <div class="collapse navbar-collapse" id="px-navbar-collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Organizer"))
                    {
                    <li class="px-nav-item">
                        <a href="@Url.Action("Index", "Race")"><span class="px-nav-label">Seznam závodů</span></a>
                    </li>
                    }
                    @if (User.IsInRole("User"))
                    {
                    <li class="px-nav-item">
                        <a href="@Url.Action("Index", "Runner")"><span class="px-nav-label">Seznam závodů</span></a>
                    </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @User.Identity.Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Osobní údaje</a></li>
                            <li><a href="@Url.Action("ChangePassword","Account")">Změna hesla</a></li>
                            <li class="divider"></li>
                            <li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary btn-block">
                                    <i class="pli-unlock icon-fw"></i> Odhlásit
                                </a>
                        }
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Content -->
    <div class="px-content container">
        <div class="page-header">
            <h1>@ViewBag.title</h1>
            <div class="pull-right">@RenderSection("HeaderButtons", required: false)</div>
        </div>
        <div class="">@RenderBody()</div>
    </div>
    <!-- Footer -->
    <footer class="px-footer px-footer-bottom container">
        Copyright © 2018 MujZavod.cz All rights reserved.
    </footer>
    
</body>
</html>
